.container {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

// Screen reader only
.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.left-100 {
  left: 100%;
}
